.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
    padding: 12px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #514f4f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

select#wl-l3-slide-distance {
    padding: 5px 5px;
    height: 30px;
    font-size: 16px;
    border: 1px solid #514f4f;
}

select#wl-l3-slider_scale_mode{
  padding: 5px 9px;
  height: 35px;
  font-size: 16px;
  border: 1px solid #514f4f;
}

select#wl-l3-font-style{
  padding: 5px 9px;
  height: 35px;
  font-size: 16px;
  border: 1px solid #514f4f;
}
input#wl-l3-slider-width {
    border: 1px solid #514f4f;
    padding: 9px 5px;
}
input#wl-l3-navigation-width{
  border: 1px solid #514f4f;
  padding: 9px 5px;
}
input#wl-l3-navigation-height{
  border: 1px solid #514f4f;
  padding: 9px 5px;
}


.radio_cont {
    /*display: block;*/
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio_cont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 12px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio_cont:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio_cont input:checked ~ .checkmark {
    background-color: #514f4f;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio_cont input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio_cont .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #eee;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

main {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 30px;
  font-weight: 600;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}



label:hover {
  cursor: pointer;
}

input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 4px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4, 
#tab5:checked ~ #content5{
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
input#tab1,#tab2,#tab3,#tab4,#tab5 {
    display: none;
}

.unlimited_maindiv {
    background-color: #fff;
    padding: 4px;
}
div#L3 {
    margin-bottom: 15px;
}
.label_imgdash{
  padding: 5px 0px;
}
.slid_cntrl_btn{
  margin-top: 5px;
}
.wp-picker-input-wrap label {
   padding: 0;
}
input#wl-l3-slider-height {
   border: 1px solid #514f4f;
   padding: 9px 5px;
}